name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  Build-Win:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore /p:Configuration=Release
    - shell: cmd
      run: |
        pushd ${{ github.workspace }}
        cd Access-Key-Extractor.CLI\bin\Release\net5.0
        Ren Access-Key-Extractor.CLI.exe Extractor.exe
        7z a "${{ github.workspace }}\Access-Key-Extractor-Win.zip" Extractor.exe Access-Key-Extractor.CLI.dll Access-Key-Extractor.Library.dll Access-Key-Extractor.CLI.runtimeconfig.json
        popd
    - uses: actions/upload-artifact@v2.2.4
      with:
        name: Windows
        path: |
          "${{ github.workspace }}\*.zip"
          
  Build-Linux:
   
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore /p:Configuration=Release
      - run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends p7zip-full
      - shell: bash
        run: |
         pushd ${{ github.workspace }}
         cd Access-Key-Extractor.CLI\bin\Release\net5.0
         ls
