name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  Build-Win:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore /p:Configuration=Release
    - shell: cmd
      run: |
        pushd ${{ github.workspace }}
        mkdir CLI
        mkdir UI
        cd Access-Key-Extractor.CLI\bin\Release\net5.0
        Ren Access-Key-Extractor.CLI.exe Extractor.exe
        cp Extractor.exe Access-Key-Extractor.CLI.dll Access-Key-Extractor.Library.dll Access-Key-Extractor.CLI.runtimeconfig.json "${{ github.workspace }}\CLI"
        popd
        pushd %CD%
        cd Access-Key-Extractor.UI\bin\Wpf\net5.0-windows
        cp *.dll *.exe Access-Key-Extractor.UI.runtimeconfig.json "${{ github.workspace }\UI"
        popd
    - uses: actions/upload-artifact@v2.2.4
      with:
        name: Windows
        path: |
          ${{ github.workspace }}\CLI
          ${{ github.workspace }}\UI
          
  Build-Linux:
   
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore /p:Configuration=Release
      - run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends p7zip-full
      - shell: bash
        run: |
         pushd ${{ github.workspace }}
         mkdir CLI
         mkdir UI
         cd Access-Key-Extractor.CLI/bin/Release/net5.0
         mv Access-Key-Extractor.CLI Extractor
         cp Extractor Access-Key-Extractor.CLI.dll Access-Key-Extractor.Library.dll Access-Key-Extractor.CLI.runtimeconfig.json "${{ github.workspace }}\CLI"
         popd
         pushd %CD%
         cd Access-Key-Extractor/Access-Key-Extractor.UI/bin/Gtk/net5.0/
         cp *.dll Access-Key-Extractor.UI Access-Key-Extractor.UI.runtimeconfig.json "${{ github.workspace }\UI"
         popd
      - uses: actions/upload-artifact@v2.2.4
        with:
          name: Linux
          path: |
            ${{ github.workspace }}/CLI
            ${{ github.workspace }}/UI
            
            
  Publish:
    if: github.ref == 'refs/heads/maste'
    needs: [Build-Win, Build-Linux]
    
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/download-artifact@v2.0.10
        with:
          name: Windows
          path: ${{ github.workspace }}
      - uses: actions/download-artifact@v2.0.10
        with:
          name: Linux
          path: ${{ github.workspace }}
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "Auto"
          prerelease: true
          title: "Auto Build"
          files: |
            *.zip
